* @giorgioangel

/crackle-viewer/ @stephenrparsons @jrudolph

/foundation/ @jrudolph @stephenrparsons

/ink-detection/ @younader

/scroll-renderer/ @giorgioangel

/scrollprize.org/ @stephenrparsons @skyward7187 @giorgioangel

/thaumato-anakalyptor/ @stephenrparsons

/vesuvius/ @stephenrparsons @jrudolph

/vesuvius-c/ @stephenrparsons @jrudolph

/volume-cartographer/ @hendrikschilling @SuperOptimizer
