* @nat @giorgioangel

/crackle-viewer/ @giorgioangel

/foundation/ @giorgioangel @danielhavir @stephenrparsons

/ink-detection/ @younader

/scroll-renderer/ @giorgioangel

/scrollprize.org/ @nat @stephenrparsons @skyward7187 @bruniss

/thaumato-anakalyptor/ @giorgioangel

/vesuvius/ @stephenrparsons @giorgioangel

/vesuvius-c/ @stephenrparsons
